<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE module PUBLIC
    "-//Checkstyle//DTD Checkstyle Configuration 1.3//EN"
    "https://checkstyle.org/dtds/configuration_1_3.dtd">
<module name="Checker">
  <property name="fileExtensions" value="java, properties"/>
  <property name="severity" value="error"/>
  <property name="tabWidth" value="2"/>

  <module name="FileLength">
    <property name="max" value="500"/>
  </module>
  <module name="FileTabCharacter"/>
  <module name="LineLength">
    <property name="max" value="120"/>
    <property name="ignorePattern" value="^(package .*;\s*)|(import .*;\s*)|( *https?://.*)$"/>
    <message key="maxLineLen" value="Line is longer than {0,number,integer} characters (found {1,number,integer})."/>
  </module>
  <module name="NewlineAtEndOfFile"/>
  <module name="OrderedProperties"/>
  <module name="SuppressionFilter">
    <property name="file" value="${config_loc}/checkstyle-suppressions.xml"/>
  </module>
  <module name="UniqueProperties"/>

  <module name="TreeWalker">
    <module name="AbbreviationAsWordInName">
      <property name="allowedAbbreviationLength" value="1"/>
    </module>
    <module name="AbstractClassName">
      <property name="format" value="^Abstract.+$"/>
    </module>
    <module name="AnnotationLocation">
      <property name="allowSamelineSingleParameterlessAnnotation" value="true"/>
    </module>
    <module name="AnonInnerLength">
      <property name="max" value="30"/>
    </module>
    <module name="ArrayTrailingComma"/>
    <module name="ArrayTypeStyle"/>
    <module name="AtclauseOrder"/>
    <module name="AvoidDoubleBraceInitialization"/>
    <module name="AvoidEscapedUnicodeCharacters"/>
    <module name="AvoidInlineConditionals"/>
    <module name="AvoidNestedBlocks"/>
    <module name="AvoidNoArgumentSuperConstructorCall"/>
    <module name="AvoidStarImport"/>
    <module name="BooleanExpressionComplexity">
      <property name="max" value="4"/>
    </module>
    <module name="CatchParameterName"/>
    <module name="ClassTypeParameterName"/>
    <module name="CommentsIndentation"/>
    <module name="ConstantName"/>
    <module name="CovariantEquals"/>
    <module name="CyclomaticComplexity"/>
    <module name="DeclarationOrder"/>
    <module name="DefaultComesLast"/>
    <module name="DesignForExtension"/>
    <module name="EmptyBlock"/>
    <module name="EmptyForInitializerPad"/>
    <module name="EmptyForIteratorPad"/>
    <module name="EmptyLineSeparator"/>
    <module name="EmptyStatement"/>
    <module name="EqualsAvoidNull"/>
    <module name="EqualsHashCode"/>
    <module name="ExplicitInitialization"/>
    <module name="FallThrough">
      <property name="checkLastCaseGroup" value="true"/>
    </module>
    <module name="FinalClass"/>
    <module name="GenericWhitespace"/>
    <module name="HiddenField"/>
    <module name="HideUtilityClassConstructor"/>
    <module name="IllegalImport">
      <!--
       The following classes are disallowed:

       com.google.inject.Inject: Use javax.inject.Inject instead.
       com.google.inject.Provider: Use javax.inject.Provider instead.
       com.google.inject.Scope: Use javax.inject.Scope instead.
       com.google.inject.Singleton: Use javax.inject.Singleton instead.
       com.google.inject.name.Named: Use javax.inject.Named instead.
     -->
      <property name="illegalClasses" value="com.google.inject.Inject, com.google.inject.Provider, com.google.inject.Scope, com.google.inject.Singleton"/>
    </module>
    <module name="IllegalInstantiation"/>
    <module name="IllegalThrows"/>
    <module name="IllegalToken"/>
    <!--
    TODO: This module is not setup properly.
    <module name="ImportOrder">
      <property name="groups" value="*,javax,java"/>
      <property name="option" value="bottom"/>
      <property name="ordered" value="true"/>
      <property name="separated" value="true"/>
    </module>
    -->
    <module name="Indentation">
      <property name="basicOffset" value="2"/>
    </module>
    <module name="InnerAssignment"/>
    <module name="InnerTypeLast"/>
    <module name="InterfaceIsType"/>
    <module name="InterfaceTypeParameterName"/>
    <module name="InvalidJavadocPosition"/>
    <module name="JavadocBlockTagLocation"/>
    <module name="JavadocContentLocation"/>
    <module name="JavadocMethod"/>
    <module name="JavadocMissingWhitespaceAfterAsterisk"/>
    <module name="JavadocParagraph"/>
    <module name="JavadocStyle">
      <property name="checkFirstSentence" value="false"/>
    </module>
    <module name="JavadocTagContinuationIndentation"/>
    <module name="LambdaParameterName"/>
    <module name="LeftCurly">
      <property name="option" value="eol"/>
    </module>
    <module name="LocalVariableName"/>
    <module name="MemberName"/>
    <module name="MethodLength">
      <property name="max" value="80"/>
    </module>
    <module name="MethodName"/>
    <module name="MethodParamPad"/>
    <module name="MethodTypeParameterName"/>
    <module name="MissingOverride"/>
    <module name="MissingSwitchDefault"/>
    <module name="ModifiedControlVariable"/>
    <module name="ModifierOrder"/>
    <module name="MultipleVariableDeclarations"/>
    <module name="MutableException"/>
    <module name="NestedForDepth"/>
    <module name="NestedIfDepth"/>
    <module name="NestedTryDepth"/>
    <module name="NoArrayTrailingComma"/>
    <module name="NoClone"/>
    <module name="NoCodeInFile"/>
    <module name="NoEnumTrailingComma"/>
    <module name="NoFinalizer"/>
    <module name="NoLineWrap"/>
    <module name="NoWhitespaceAfter"/>
    <module name="NoWhitespaceBefore"/>
    <module name="NeedBraces"/>
    <module name="OneTopLevelClass"/>
    <module name="OneStatementPerLine"/>
    <module name="OperatorWrap"/>
    <module name="OuterTypeFilename"/>
    <module name="OuterTypeNumber"/>
    <module name="PackageAnnotation"/>
    <module name="PackageDeclaration"/>
    <module name="PackageName"/>
    <module name="ParameterAssignment"/>
    <module name="ParameterName"/>
    <module name="ParameterNumber">
      <property name="max" value="4"/>
      <property name="ignoreOverriddenMethods" value="true"/>
      <property name="tokens" value="METHOD_DEF"/>
    </module>
    <module name="ParenPad"/>
    <module name="RedundantImport"/>
    <module name="RedundantModifier"/>
    <module name="RequireThis"/>
    <module name="RightCurly">
      <property name="option" value="same"/>
    </module>
    <module name="SimplifyBooleanExpression"/>
    <module name="SimplifyBooleanReturn"/>
    <module name="SuperClone"/>
    <module name="SuperFinalize"/>
    <module name="SuppressionXpathSingleFilter">
      <property name="checks" value="ImportOrder"/>
      <property name="message" value="^'java\..*'.*"/>
    </module>
    <module name="StaticVariableName"/>
    <module name="StringLiteralEquality"/>
    <module name="TypecastParenPad">
      <property name="tokens" value="RPAREN,TYPECAST"/>
    </module>
    <module name="TypeName"/>
    <module name="UnnecessaryParentheses"/>
    <module name="UnnecessarySemicolonAfterTypeMemberDeclaration"/>
    <module name="UnnecessarySemicolonAfterOuterTypeDeclaration"/>
    <module name="UnnecessarySemicolonInEnumeration"/>
    <module name="UnnecessarySemicolonInTryWithResources"/>
    <module name="UnusedImports"/>
    <module name="UpperEll"/>
    <module name="VariableDeclarationUsageDistance">
      <property name="allowedDistance" value="10"/>
    </module>
    <module name="VisibilityModifier">
      <property name="ignoreAnnotationCanonicalNames" value="com.google.common.annotations.VisibleForTesting, org.junit.ClassRule, org.junit.Rule, org.junit.jupiter.api.io.TempDir"/>
    </module>
    <module name="WhitespaceAfter"/>
    <module name="WhitespaceAround"/>
  </module>
</module>